/* Set the width and color of the scroll bar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #ebd9e9;
}

/* Set the background color of the scroll bar track */
::-webkit-scrollbar-track {
    background-color: #ebd9e9;
}

/* Set the color and rounded corners of the scroll bar thumb */
::-webkit-scrollbar-thumb {
    background-color: #ab98a9;
    border-radius: 0px;
}

/* Set the color of the scroll bar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #911186;
}

.custom-scroll {
    max-height: 100%;
    /* height: 611px; */
    overflow-y: auto;
}

.image-viewer{
    height: 100%;
    width: 50%;
    overflow:auto;
}

.benefit-list-viewer{
    height: 350px;
    width: 310px;
    overflow-y:auto;
}

.badge-input {
    padding: 2px;
    border-radius: 0px;
    background-color: #e8ebfa;
    color: purple;
    border: 1px solid #c5cbfa;
    text-align: center;
    outline: none;
    width: 25px;
}

.measurement-div {
    margin: 6px 0px;
    display: flex;
    align-items: center;
}

.measurement-name {
    margin-left: 10px;
    width: 200px;
}


.fa-solid {
    width: 10px;
}

.badge-dropdown {
    padding: 2px;
    border-radius: 0px;
    background-color: #e8ebfa;
    color: purple;
    border: 1px solid #c5cbfa;
    text-align: center;
    outline: none;
    width: 100px;
    height: 16px;
    display: flex;
}

.badge-dropdown select {
    appearance: none;
    background: transparent;
    border: none;
    outline: none;
    color: purple;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.badge-dropdown select::-ms-expand {
    display: none;
    background-color: #e8ebfa;
    border: 1px solid #c5cbfa;
    width: 100px;
}

.badge-dropdown select option {
    font-weight: normal;
    width: 100px;
}


.marquee-container {
    margin-left: 10px;
    display: flex;
    width: 132px;
    /* Set the desired width of the marquee container */
    overflow: hidden;
    /* Hide the overflowing content */
}

.marquee-content {
    display: inline-block;
    /* Make the content flow horizontally */
    white-space: nowrap;
    /* Prevent line breaks */
}

.marquee {
    animation: marquee 4s linear infinite;
    /* Apply the marquee animation */
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
        /* Start the content off-screen */
    }

    50% {
        transform: translateX(-30%);
        /* Scroll the content to the left */
    }

    100% {
        transform: translateX(-30%);
        /* Scroll the content to the left */
    }
}

.lock-div {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    background-color: rgba(235, 217, 233, 0.95);
    /* Set a high z-index value to ensure it appears on top */
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
}

.lock-div.show {
    opacity: 1;
}

.main_child {
    max-height: 90%;
    min-width: 300px;
    overflow-y: auto;
    z-index: 99;
}

.front_profile {

    display: flex;
    justify-content: flex-end;
}

.side_profile {
    position: relative;
    display: flex;
    justify-content: flex-start;

}

.front_photo_area {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo_div{
    position: relative;
    border: solid 1px purple;
    width: 375px;
    height: 375px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fvgz9i8{
    max-width: 1920px;
}
/* position: "relative", display: "flex", width: "50%", justifyContent: "space-between" }} onMouseOver={unavailableAreaInHandle} onMouseOut={unavailableAreaOutHandle}>
                            <div style={{ display: "flex", alignItems: "center", flexDirection: "column", justifyContent: "center" */